<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">

    <listeners>
        <listener class-name="testComponents.Listeners"/>
    </listeners>

    <test verbose="2" thread-count="2" preserve-order="true" name="Submit Order Test">
        <classes>
            <class name="tests.SubmitOrderTest"/>
        </classes>
    </test>

    <test verbose="2" thread-count="2" preserve-order="true" name="Error Validations Test">
        <classes>
            <class name="tests.ErrorValidationsTest"/>
        </classes>
    </test>
</suite>